In [3]:

import pandas as pd

schools = pd.read_csv('schools.csv')
schools["total_SAT"]=(schools['average_math'] + schools['average_reading'] + schools['average_writing'])
schools_sorted = schools.sort_values("total_SAT", ascending=False)
top_10_school = schools_sorted[["school_name","total_SAT"]].head(10)
print(top_10_school)



schools["total_SAT"]=(schools['average_math'] + schools['average_reading'] + schools['average_writing'])
borough_stats = schools.groupby('borough')['total_SAT'].agg(['mean', 'std', 'count'])
largest_std_dev_borough = borough_stats['std'].idxmax()
largest_std_dev = pd.DataFrame({
    'borough': [largest_std_dev_borough],
    'num_schools': [borough_stats.loc[largest_std_dev_borough, 'count']],
    'average_SAT': [round(borough_stats.loc[largest_std_dev_borough, 'mean'], 2)],
    'std_SAT': [round(borough_stats.loc[largest_std_dev_borough, 'std'], 2)]
})
largest_std_dev.set_index('borough', inplace=True)
print(largest_std_dev)




best_math_schools = schools[["school_name", "average_math"]].sort_values("average_math", ascending=False)
best_math_schools.head()

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683